APP_PORT=3000

UPLOAD_SECRET_KEY=your-static-upload-secret
PUBLIC_BASE_URL=

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

AWS_SESSION_TOKEN=
AWS_ENDPOINT_URL=
AWS_S3_USE_PATH_STYLE=false
